.container-about {
    margin-top: 40px;
    font-family: 'Press Start 2P';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: bisque;
}

.container-about h1 {
    font-size: x-large;
    color: rgb(239, 18, 158);
    border: 100px;
    border-color: black;

}