.navbar-div {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
}

.navbar-div button{
        font-family: 'Press Start 2P';
        padding: 10px;
        margin: 20px;
      
        background-color: rgb(167, 225, 193);
}

.navbar-div button:hover {
        background-color: black;
        color:turquoise
}
